@media screen and (max-width: 300px) {
    .navigation-container{flex-direction: column}
    
}


.navigation-container{
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navigation-icon{
    background-image: url(../asset/PawonPakPit_General4.jpg);
    border: 1px solid whitesmoke;
    width: 40px;
    border-radius: 50%;
    background-size: cover;
}


.navigation-container>div{
    align-content: center;
} 

.navigation-container>nav{
    align-content: center;
}

.navigation-container>nav>button{
    height: 32px ;
    width: 80px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: bisque;
    align-content: center;
    /* box-shadow: 20px; */
}

.navigation-container>nav>button:hover{
    height: 32px ;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: rgb(253, 167, 62);
    align-content: center;
}

.content-container>header{
    background-color: blanchedalmond;
    text-align: center;
    font-family: monospace ;
    height: 125px;
}


.content-container>header>h1{
    text-align: center;
    font-family: monospace ;
    font-size: 40px;
}

.content-container>header>h3{
    text-align: center;
    font-family: monospace ;
    font-size: 20px;
    font-style:italic;
}


.core-container{
    display: flex;
    justify-content: space-between;
}


.coreitem-image{
    height: 420px;
    width: 70%;
    margin: 20px;
    /* justify-content: center;
    align-items: center; */
    /* image-orientation: center; */
    background-color: antiquewhite;
    /*background-image: url(../asset/PawonPakPit_General5.jpg);
    background-size: contain;*/
}

.img-slideshow{
    margin: auto;
    margin-top: 15px;
    padding-top: 0px;
    border-radius: 15px;
}

.btn-center{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 10%;
    top: -60%;
    border-radius: 45%;
    background-color: blanchedalmond;
    /* border: 10px; */
    border-color: rgb(223, 208, 195) ;
    color: rgb(187, 104, 187);
    font-size: 50px;
}

.coreitem-iteminfo{
    height: 390px;
    width: 30%;
    margin: 20px;
    padding: 15px;
    background-color: antiquewhite;
}

.coreitem-iteminfo>header{
    font-family: monospace ;
    /* background-color: rgb(252, 208, 152); */
}

.coreitem-form{
    background-color: antiquewhite;
}

.coreitem-form>label{
    text-align: justify;
    font-family: monospace;
}

.coreitem-form>input{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border-color: aliceblue;
}

.coreitem-form>select{
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border-color: aliceblue;
}

.coreitem-form>input[type=submit]{
    background-color: blanchedalmond;
    width: 102%;
    height: 25px;
    border-radius: 5px;
}

.coreitem-form>input[type=submit]:hover{
    background-color: rgb(253, 212, 151);
}

.our_product-container {
    height: 100px;
    background-color: bisque;
    align-content: center;
}

.our_product-container>h1 {
    font-size: 32px;
    font-family: monospace;
    text-align: center;
}

.product_menu-container {
    display: flex;
}

.Pecel-Madiun {
    width: 25%;
    height: 300px;
    margin: 10px;
    padding: 10px;
    font-family: monospace;
    text-align: center;
    background-color: bisque;
}

.Pecel-Madiun>img {
    border-radius: 10px;
}

.Pecel-Madiun>h1 {
    font-size: 20px;
}

.Pecel-Madiun>h3 {
    font-size: 12px;
}

.Jamblang-Cirebon {
    width: 25%;
    height: 300px;
    margin: 10px;
    padding: 10px;
    font-family: monospace;
    text-align: center;
    background-color: bisque;
}

.Jamblang-Cirebon>img {
    border-radius: 10px;
}

.Jamblang-Cirebon>h1 {
    font-size: 20px;
}

.Jamblang-Cirebon>h3 {
    font-size: 12px;
}


.Soto-Boyolali {
    width: 25%;
    height: 300px;
    margin: 10px;
    padding: 10px;
    font-family: monospace;
    text-align: center;
    background-color: bisque;
}

.Soto-Boyolali>img {
    border-radius: 10px;
}

.Soto-Boyolali>h1 {
    font-size: 20px;
}

.Soto-Boyolali>h3 {
    font-size: 12px;
}

.Nasi_Liwet-Sunda {
    width: 25%;
    height: 300px;
    margin: 10px;
    padding: 10px;
    font-family: monospace;
    text-align: center;
    background-color: bisque;
}

.Nasi_Liwet-Sunda>img {
    border-radius: 10px;
}


.Nasi_Liwet-Sunda>h1 {
    font-size: 20px;
}

.Nasi_Liwet-Sunda>h3 {
    font-size: 12px;
}

footer{
    height: 75px;
    padding-top: 35px;
    text-align: center;
    background-color: bisque;
    font-family: monospace ;
}